@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegura que toda la pantalla use el fondo oscuro */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #111827; /* mismo color que el Home */
  color: white;
  overflow-x: hidden; /* evita scroll horizontal */
}
